/* 練習： 卡片製作 */
body {
    /* flatuicolor */
    background-color: #eeeeee;
    /* google搜尋 "css 字體 ＸＸＸＸ" */
    font-family:"Yafei" ;
}
.card {
    width: 450px;
    height: 270px;
    border-radius: 10px;
    background-color: #fff;

    /* box-shadow: x軸 y軸 擴散 rgba(紅,綠,藍,透明度); */
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3) ;

    /* margin: auto; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}
/* -------------------------------------- */
.top {
    /* background-color: gray; */
    
    width: 410px;
    /* height: 70px; */
    margin-left: 20px;
    margin-top: 35px;
}

.top p {
    color: #34495e;
    font-size: 20px;
    border-bottom: 2px solid #34495e;
}
/* ==================================== */
.mid {
    /* background-color: pink; */
    width: 410px;
    margin-left: 20px;

    font-size: 14px;
}
/* ------------------------------------ */
.name , .contact {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color:#34495e;
}

.name {
    /* background-color: #fff; */
    margin-top: 35px;
}

.name p {
    /* background-color: yellow; */
    margin: 0;
    font-weight: bold;
}
/* ------------------------------------ */
.chinese {
    /* border: 1px dashed #000; */
    font-size: 18px;
}

.chinese span {
    font-size: 12px;
}

.eng {
    /* border: 1px dashed #000; */
    font-size: 10px;
}
/* ------------------------------------- */
.contact {
    /* border: 1px dashed #000; */
    margin-top: 5px;
    margin-left: 50px;
    font-size: 15px;
    line-height: 19px;
}

.contact p {
    /* border: 1px dashed #000; */
    margin-bottom: 0;
}
/* ===================================== */
.bot {
    background-color:#34495e;
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 0px;
    border-radius: 0 0 10px 10px;

    color: #fff;

    padding: 10px;
    box-sizing: border-box;
}

.bot p {
    /* border: 1px dashed black; */
    font-size: 14px;
    margin: 0 0 0 20px;
    padding-top: 5px;
    /* margin-bottom: 5px; */
}
